<span>
  <h2> t "import_data.import_data"</h2>
  <%= form_tag admin_imports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag t("import_data.import") %>
  <% end %>
</span>
